<nav>
  <div class="navbar navbar-between">
    <ul>
      <li><a href="/admin/blogs">All Blogs</a></li>
      <li><a href="/admin/create-blog">Create Blog</a></li>
      <li><a href="/admin/categories">All Category</a></li>
      <li><a href="/admin/create-category">Create Category</a></li>
      <li><a href="/blog">Go to Web Site</a></li>
    </ul>
    <ul>
      <li>
        <a href="/admin/user-logout">Logout</a>
      </li>
    </ul>
  </div>
</nav>
